p{
    background-color: brown;
}
P1{
    background-color: rgb(14, 91, 184);
}
p2{
background-color: aqua;
}
p3{
    background-color: aquamarine;
}
p4{
    background-color: azure;
}
p5{
    background-color: beige;
}
P6{
    background-color: black;
}
p7{
    background-color: blueviolet;
}
p8{
    background-color: rgb(55, 9, 9);
}
p9{
    background-color: burlywood;
}
p10{
    background-color: cadetblue;
}
p11{
    background-color: chartreuse;
}
P12{
    background-color: chocolate;
}
P13{
    background-color:coral
}
p14{
    background-color: cornflowerblue;
}
p15{
    background-color: crimson;
}
p15{
background-color: rgb(53, 219, 15);
}